/* -------- Geral --------- */
.sectionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1336px;
    padding: 32px 0;
}

.button {
    width: fit-content;
    color: var(--white-color);
    background: rgba(242, 82, 33, 0.8);
    border-radius: 6px;
    padding: 12px 24px;
    transition: all 0.3s ease-in-out;
}
.button:hover { 
    cursor: pointer;
    background-color: var(--primary-color);
}

/* -------- Cabeçalho --------- */

.topPageContainer {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
}

.topPage {
    display: flex;
    justify-content: space-between;
    padding: 10px 35px;
    width: 100%;
    max-width: 1336px;
}

.topPageNav {
    display: flex;
    gap: 16px;
    align-items: center;
}

.navItem {
    color: var(--white-color);
    text-decoration: none; 
    transition: all 0.15s ease-in-out;
}

.navItem:hover {
    color: var(--primary-variant);
}

/* -------- Seção principal --------- */

#mainSection {
    background: url('../img/mainImage.png') no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainSectionContent {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;

}
.mainTitleWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    color: var(--white-color);
}
.mainSectionSubtitle {
    color: var(--white-variant);
}

/* -------- Seção de serviços --------- */

.servicesLine {
    display: flex;
    gap: 48px;
    
}

.servicesCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #D9D9D9; 
    padding: 24px 32px;
    border-radius: 8px;
    gap: 16px;
    text-align: center;
    justify-content: center;
}

.servicesCard h3 {
    margin-top: 6px;
}

/* -------- Seção de Sobre nós --------- */
#sectionAboutUs {
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--white-color);
}

#sectionAboutUs .sectionsContainer {
    flex-direction: row;
}

.author {
    display: flex;
    justify-content: end;
}

/* -------- Seção de portfólio --------- */
#sectionPortfolio article {
    display: flex;
    flex-direction: column;
    padding: 16px 8px;


}
#sectionPortfolio .sectionsContainer {
    flex-direction: row;


}
.articlePortfolio {
    display: flex;
    background-color: #D9D9D9;
    border-radius: 8px;
    

}
.articlePortfolio h2 {
    text-align: start;

}
.divColumn {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

#articlePortfolio2{
    background-color: #D9D9D9;
    border-radius: 8px;
    display: flex;
    align-items: center;

}

.corLaranja {
    color: var(--primary-color);

}

#sectionOurClients{
    display: flex;
    gap: 16px;


}

.divOurClients {
    display: flex;
    align-items: center;
    gap: 16px;

}

#sectionQuality {
    
    background-color: var(--primary-color);
}

.divQuality {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 24px;

}

.articleQuality {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    padding: 20px 16px;
    border-radius: 8px;
    


}

#sectionQuality2 {
    background-color: rgba(242, 82, 33, 0.7);

}

#divQuality2 {
    display: flex;
    flex-direction: row;
    


}


.divOrgQuality {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    width: 100%;
    gap: 16px;
    

}

.divBola {
    display: flex;
    border-radius: 50px;
    background: var(--primary-color);
    padding: 8px;

}

.paragraphQuality {
    display: flex;
    padding: 0px 0px;
}

.divLinhaQuality {
    display: flex;
    background: var(--white-color);
    width: 100%;
    height: 2px;

}




.divQuality2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 400px;


}


.divQuality3 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 176px;
}

.divQuality4 {
    display: flex;
    text-align: center;
    color: #fff;
}
#divOrganizaOrç {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.divBlackLine {
    display: flex;
    background-color: #000;
    width: 4px;
    height: 500px;
}

.textField {
    background: rgba(242, 82, 33, 0.4);
    border-radius: 6px;
    height: 42px;
    padding: 0 16px;
}

.divEntradaOrçamentos {
    display: flex;
    background: rgba(242, 82, 33, 0.4);
    border-radius: 8px;
    padding: 16px 256px;
}

#desiredServices {
    background: rgba(242, 82, 33, 0.4);
    padding: 16px; 
    border-radius: 6px;  
    resize: none
}

.divOrç {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.divEntradaDir {
    display: flex;
    background-color: rgba(242, 82, 33, 0.4);
    border-radius: 8px;
    padding: 16px 256px;

}
.divEntradaDirBaixo {
    display: flex;
    background-color: rgba(242, 82, 33, 0.4);
    border-radius: 8px;
    padding: 150px 256px;


}

#sectionContatos {
    color: var(--white-color);
    background-color: #000;
   
}

#divContatos {
    display: flex;
    flex-direction: row;
    gap: 200px;

}

.divContatosEsq {
    display: flex;
    flex-direction: row;
    gap: 64px;

}

.divContatosEsq #esq {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.contactsWrapper {
    display: flex;
    gap: 6px;

}

.divContatosEsq #dir {
    display: flex;
    flex-direction: column;
    gap: 24px;

}
#h2siganos {
    width: max-content;

}

.mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}

