:root{
    font-family: 'Roboto', sans-serif;

    --white-color: #ffffff;
    --white-variant: rgba(255, 255, 255, 0.87);
    --primary-color: #F25221;
    --primary-variant: #F36135;

    --transparent-color: rgba(0, 0, 0, 0)
}

.limit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
}
@media screen and (min-width: 640px) {
  .limit {
    padding: 0px 48px;
  }
}
@media screen and (min-width: 768px) {
  .limit {
    padding: 0px 64px;
  }
}

.headline1 {
  font-size: 96px;
}

.headline2 {
  font-size: 60px;
}

.headline3{
  font-size: 48px;
}

.headline4 {
  font-size: 34px;
}

.headline5 { 
    font-size: 24px;
}

.headline6 {
  font-size: 20px;
}

.body1{
  font-size: 16px;
}

.body2{
  
  font-size: 14px;
}
.subtitle1{
  
  font-size: 16px;
}
.subtitle2{
  
  font-size: 14px;
}
.button{
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
}
.overline{
  
  font-size: 10px;
}
.caption{
  
  font-size: 12px;
}